/target/

.classpath

.project

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs

.settings/org.eclipse.wst.common.component

.settings/org.eclipse.wst.common.project.facet.core.xml
/model/

.settings/org.eclipse.m2e.wtp.prefs

.settings/org.eclipse.wst.validation.prefs

.DS_Store
