{
	"openapi": "3.0.0",
	"info": {
		"title": "NHANES via PIC-SURE",
		"description": "Meta API to provide access to multiple data sources",
		"version": "1.4",
		"contact": {
			"name": "Paul Avillach",
			"email": "paul_avillach@hms.harvard.edu",
			"url": "https://avillach-lab.hms.harvard.edu/",
			"x-role": "responsible developer"
		}
	},
	"servers": [
		{
			"url": "https://nhanes.hms.harvard.edu/rest/v1",
			"description": "Open access production server",
			"x-maturity": "production"
		},
		{
			"url": "https://tm-dev.hms.harvard.edu/rest/v1.4",
			"description": "Open access development server",
			"x-maturity": "development"
		}
	],
	"paths": {
		"/about": {
			"get": {
				"description": "Basic endpoint to gather somem information about the deployed component",
				"responses": {
					"200": {
						"description": "Returns information about the provider API",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/APIDescription"
								}
							}
						}
					}
				}
			}
		},
		"/path": {
			"get": {
				"description": "",
				"responses": {
					"200": {
						"description": "Returns a concept description and various additional information",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PathRecord"
								}
							}
						}
					}
				}
			}
		},
		"/find": {
			"get": {
				"description": "",
				"responses": {
					"200": {
						"description": "Returns a concept description and various additional information",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PathRecord"
								}
							}
						}
					}
				}
			}
		},
		"/search": {
			"get": {
				"description": "",
				"responses": {
					"200": {
						"description": "Returns a concept description and various additional information",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PathRecord"
								}
							}
						}
					}
				}
			}
		},
		"/resource": {
			"get": {
				"description": "",
				"responses": {
					"200": {
						"description": "Returns a concept description and various additional information",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PathRecord"
								}
							}
						}
					}
				}
			}
		},
		"/query": {
			"get": {
				"description": "",
				"responses": {
					"200": {
						"description": "Returns a concept description and various additional information",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PathRecord"
								}
							}
						}
					}
				}
			},
			"post": {
				"description": "",
				"responses": {
					"200": {
						"description": "Returns a concept description and various additional information",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PathRecord"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"PathRecord": {
				"type": "object",
				"required": [
					"concept"
				],
				"properties": {
					"concept": {
						"type": "string"
					},
					"pui": {
						"type": "string"
					}
				}
			},
			"APIDescription": {
				"type": "object",
				"required": [
					"concept"
				],
				"properties": {
					"concept": {
						"type": "string"
					},
					"pui": {
						"type": "string"
					}
				}
			}
		}
	}
}
