/target/

.classpath

.project

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs
/model/

.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs
