<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>IRCT-CL</display-name>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

	<!-- Auth0 Configuration -->
	<context-param>
		<param-name>redirect_on_success</param-name>
		<param-value>/IRCT-UI/token.html</param-value>
	</context-param>
	
	<context-param>
		<param-name>client_id</param-name>
		<param-value>fRzyzjioCu3PZVzqRCK539kLt34npNxo</param-value>
	</context-param>

	<context-param>
		<param-name>client_secret</param-name>
		<param-value>9Y8BI9Lndy8tfJ1MgOHSEi5zR_2Cd95y5edg0JnKJPstxciSUnWDGRB31-JaL1fc</param-value>
	</context-param>

	<context-param>
		<param-name>domain</param-name>
		<param-value>avillachlab.auth0.com</param-value>
	</context-param>
</web-app>