<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>IRCT-CL</display-name>
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>



	<servlet>
		<servlet-name>RedirectCallback</servlet-name>
		<servlet-class>com.auth0.Auth0ServletCallback</servlet-class>
		<init-param>
			<param-name>auth0.redirect_on_success</param-name>
			<param-value>/success.html</param-value>
		</init-param>
		<init-param>
			<param-name>auth0.redirect_on_error</param-name>
			<param-value>/login</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>edu.harvard.hms.dbmi.bd2k.irct.cl.util.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RedirectCallback</servlet-name>
		<url-pattern>/callback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<!-- Filters -->
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.auth0.Auth0Filter</filter-class>
		<init-param>
			<param-name>auth0.redirect_on_authentication_error</param-name>
			<param-value>/login</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<!-- Auth0 Configuration -->
	<context-param>
		<param-name>auth0.client_id</param-name>
		<param-value>fRzyzjioCu3PZVzqRCK539kLt34npNxo</param-value>
	</context-param>

	<context-param>
		<param-name>auth0.client_secret</param-name>
		<param-value>9Y8BI9Lndy8tfJ1MgOHSEi5zR_2Cd95y5edg0JnKJPstxciSUnWDGRB31-JaL1fc</param-value>
	</context-param>

	<context-param>
		<param-name>auth0.domain</param-name>
		<param-value>avillachlab.auth0.com</param-value>
	</context-param>
</web-app>